@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
	<p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas placerat luctus enim, sed mollis neque semper ut. Fusce accumsan luctus ligula, a suscipit mi scelerisque sit amet. 
    Maecenas accumsan felis eu fermentum accumsan. Vestibulum sit amet posuere leo. Sed placerat nibh vitae sapien tristique fermentum. Mauris condimentum diam sed tempor lacinia. 
    Fusce convallis, enim ut pulvinar aliquet, nunc dolor consequat leo, vitae dictum est urna non nisi. Etiam et libero elit. Aenean ac massa et ligula tristique ornare. 
    Donec imperdiet, nibh ac fringilla elementum, mauris neque gravida risus, in posuere quam nisi vel nibh. Mauris aliquet vehicula malesuada. Nulla vel blandit quam, vitae pulvinar arcu.</p>
	<p class="text-right">Suspendisse potenti. Integer congue ligula a interdum faucibus. Nullam porttitor ligula eu posuere efficitur. Nam diam dui, elementum commodo neque et, tempor tincidunt mi. 
    Sed sapien elit, tincidunt sed augue in, finibus ullamcorper metus. Duis volutpat, sapien a semper lobortis, velit sem ullamcorper dolor, ut tempus risus metus ac leo. 
    Praesent faucibus congue vehicula. Vivamus ut enim eros. Sed semper est dapibus viverra posuere.</p>
	<p class="text-left">Fusce mollis augue ante, vitae hendrerit sem consequat at. Vivamus iaculis lectus eros, ac lobortis justo malesuada vel. Aenean vehicula urna ac est faucibus dignissim. 
    Nullam sed dictum lacus. Sed suscipit nunc eu nisl viverra luctus. Vivamus posuere aliquam nulla, at sodales augue pharetra ut. Mauris in mauris sed arcu convallis interdum et quis diam. 
    Duis in enim nec ex faucibus vehicula porttitor id diam. Sed vel ante a ligula elementum rhoncus.</p>
	<p class="text-right">Mauris risus dui, vestibulum in facilisis id, accumsan a tellus. Donec sollicitudin eleifend neque, at faucibus dui imperdiet nec. Praesent et justo non est interdum convallis. 
    Nulla venenatis, ex a eleifend mattis, est libero ultrices ipsum, at bibendum nisl purus congue dui. Mauris ante nisi, molestie finibus magna sed, tincidunt congue ipsum. 
    In sed scelerisque sapien. Ut eu condimentum enim. In ultricies turpis vitae nulla ultrices, at tincidunt diam dignissim.</p>
	<p class="text-left">Proin eget mollis felis. Donec laoreet lobortis fringilla. Nunc quis porta felis. Cras odio sem, blandit nec sapien dictum, tempor accumsan magna. 
    Sed mattis urna ut auctor finibus. Aenean fringilla tellus a mattis vulputate. Quisque convallis enim vitae posuere laoreet. Fusce id scelerisque massa. 
    Sed et sem egestas, pellentesque massa ac, dictum nulla. Vivamus aliquam orci a arcu feugiat, et vulputate dolor facilisis.</p>
</div>
