@page
@model PrivacyModel
@{
	ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>This website uses cookies.</h2>
<p>
	This website on its own does <b>does not</b> collect any personal information such as name, demographics, location, or contact information. It is a personal website,
	and only stores cookies related to site functions.
</p>
<p>
	Your information is not bought, sold, or traded in any way, shape, or form from this website. This website's cookies are entirely used for mundane tasks,
	such as storing the state of dark mode.
</p>
<p>This site does not have any advertising implemented into it as of now.</p>
